[submodule "fastdds/fastdds_actuator_controls"]
	path = fastdds/fastdds_actuator_controls
	url = https://github.com/sarath-menon/fastdds_actuator_controls.git
[submodule "fastdds/fastdds_mocap"]
	path = fastdds/fastdds_mocap
	url = https://github.com/sarath-menon/fastdds_mocap.git
[submodule "msgs_lib"]
	path = msgs_lib
	url = https://github.com/sarath-menon/msgs_lib.git
