name: Docs

on:
  #push:
  #  branches-ignore:
  #    - '**'
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Requirements
        run: brew install doxygen
          && brew install sphinx-doc
          && pip3 install sphinx-rtd-theme
          && pip3 install breathe
          && pip3 install sphinx-sitemap
      - name: Checkout repo
        uses: actions/checkout@1.0.0
      - name: Build docs
        run: mkdir build
          && cd build
          && cmake ..
          && make
          && cd ..
          && cd docs
          && cd _build/html
          && touch .nojekyll
          && cd ..
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@releases/v3
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages # The branch the action should deploy to.
          FOLDER: build/docs # The folder the action should deploy.
